.App{
  background-image: url('../images/ocean.jpeg');
  background-size: cover;
  height: 1200px;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}
h1{
  text-align: center;
  font-size: 4em;
}
.row-2{
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}
.animals-button-1{
  background-image: url('../images/dolphin.png');
  background-size: cover;
  height: 300px;
  width: 300px;
  background-color: transparent;
  border: none;
}
.animals-button-1:hover{
  position: relative;
  bottom: 50px;
}
.animals-button-2{
  background-image: url('../images/lobster.png');
  background-size: cover;
  height: 200px;
  width: 300px;
  background-color: transparent;
  border: none;
  margin-top: 100px;
}
.animals-button-2:hover{
  position: relative;
  bottom: 50px;
}
.animals-button-3{
  background-image: url('../images/starfish.png');
  background-size: cover;
  height: 350px;
  width: 400px;
  background-color: transparent;
  border: none;
}
.animals-button-3:hover{
  position: relative;
  bottom: 50px;
}
#fact{
  text-align: center;
  font-size: 3em;
  font-family: verdana;
}
